* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #4b6cb7, #182848);
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: auto; 
    max-width: 80%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px; 
    padding: 10px 20px;
    white-space: nowrap; 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: inline-block; 
    font-weight: bold;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #180860;
}
.menu-toggle {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: white;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;    
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3em;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1.5s ease-out forwards;
    color: white;
}

.hero-content p {
    font-size: 1.5em;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1.5s ease-out forwards 0.5s;
    color: white;
}
.ciphers-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    min-height: 450px;
    width: 100%;
}
pre, h4, .container, h3{
    color: #180860;
}
.btn {
    margin-top: 10px;
    display: block;  /* За да го стави копчето на левата страна */
    width: fit-content;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(45deg,  #4b6cb7, #182848);
    color: white;
    transition: all 0.3s ease-in-out;

}

.btn:hover {
    background: linear-gradient(45deg, #283a63, #182848);
    transform: scale(1.05);
}


.container .tb{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;    
}

.ciphers-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}
.ciphers-content:first-child{
    margin-top: -100px;
}
.ciphers-content:last-child{
    margin-bottom: -100px;
}
.cipher {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.cipher h2 {
    color: #4b6cb7;
    margin-bottom: 10px;
}

.cipher p {
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
}
th, td {
    border: 2px solid white;
    padding: 12px 16px;
    width: 50px;
    font-weight: bold;
    color: #180860;

}
.about-section {
    padding: 50px 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 75px;
    margin-top: 100px
}

.developers h2 {
    font-size: 2.5em;
    margin: 25px;
    color: #f1f1f1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.developer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.developer {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.developer:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.developer p {
    font-size: 1.1em;
    color: #ddd;
    margin-top: 10px;
}

.developer h3 {
    color: #4b6cb7;
    margin: 20px;
    font-size: 2em;
}

.developer p:first-child {
    font-size: 2em;
    margin-bottom: 10px;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.typed::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}


.highlight {
    background-color: lightyellow;
    font-weight: bold;
}
footer{
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
}
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .navbar ul.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
    .developer-list {
        flex-direction: column;
        align-items: center;
    }

    .developer {
        width: 90%;
    }
}