<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albam</title>
    <link rel="stylesheet" href="/css/sihifri.css">
    <script src="./../js/albam.js   "></script>

</head>
<body>
    <nav class="navbar">
        <span class="menu-toggle" onclick="toggleMenu()">☰</span>
        <ul id="menu">
            <li><a href="/index.html">Почетна</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>🔐 ALBAM Шифра</h1>
        <p>ALBAM е шифра која ги заменува првата половина од азбуката со втората половина. <br>Пример: A ↔ N, B ↔ O, C ↔ P, итн.</p>

        <label for="inputText">Внесете текст (A-Z):</label>
        <input type="text" id="inputText" placeholder="Пример: HELLO">
        
        <button onclick="albamEncrypt()"> Конвертирај</button>
        <div id="result-container">
            <h2>📜 Резултат:</h2>   
            <p id="result"></p>
        </div>
    </div>

</body>
</html>